/* Global */
:root {
  --color-primary: #fbc219;
  --color-body: #1b191b;
  --color-accent: white;
}

body {
  font-family: "Karla", sans-serif;
}

/* Background */
.background {
  height: 100%;
  width: 100%;
  z-index: -100;
  position: absolute;
  bottom: 0;
  left: 0;
  filter: blur(8px);
}

.background--login {
  background: url("https://images.pexels.com/photos/4778611/pexels-photo-4778611.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  background-size: cover;
}

.background--upload {
  background: url("https://cpb-us-e2.wpmucdn.com/sites.utdallas.edu/dist/e/1154/files/2020/09/campus-mall-students-walking.jpg");
  background-size: cover;
}

.background--user {
  background: url("https://cpb-us-e2.wpmucdn.com/sites.utdallas.edu/dist/e/1154/files/2020/09/campus-mall-students-walking.jpg");
  background-size: cover;
}

.background--user {
  background: url("https://cpb-us-e2.wpmucdn.com/sites.utdallas.edu/dist/e/1154/files/2020/09/campus-mall-students-walking.jpg");
  background-size: cover;
}

/* Layout */
.centered {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}

.centered--text {
  text-align: center;
}

.user--userimage {
  content: url("https://qph.fs.quoracdn.net/main-qimg-8b4794e1a1ab42908de37f6a691ecc20");
  width: 35%;
  height: 35%;
  border: 2px solid #1d1b1dcc;
  box-shadow: 1px 1px 3px #201f201f;
  border-radius: 5px;
}

.user--align {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 30px;
  width: 45%;
}

.user--text {
  margin-left: 65px;
  width: 100%;
}

.user--text input {
  border: 1px solid black;
  margin-bottom: 3%;
}

.user--submit {
  display: inline-block;
  margin-right: 5px;
}

.user--change {
  display: inline-block;
  width: 100%;
}

/* Nav */
nav {
  background-color: var(--color-primary);
}

.navbar-brand {
  font-weight: bold;
}

/* Cards */
.card {
  border: none;
  background-color: var(--color-accent);
  padding: 2.5em;
  border-radius: 5px;
}

.card--transparent {
  opacity: 85%;
}

.card-footer {
  background-color: var(--color-primary);
  color: white;
  border-radius: 5px;
}

.jumbotron {
  background-color: var(--color-accent);
  box-shadow: 10px 5px 10px black;
  border-radius: 5px;
}

.profile-pic {
  width: 15rem;
  margin-left: auto;
  margin-right: auto;
}

/* Buttons */
.button {
  border-radius: 5px;
  height: 35px;
  padding: 5px;
  text-transform: uppercase;
  width: 10rem;
}

.button-primary {
  background-color: var(--color-primary);
}

.button--outline {
  border-radius: 5px;
  border: 1px solid var(--color-body);
}

/* Input */
.input--primary {
  background-color: var(--color-primary);
}

input[type="text"] {
  border-width: 1px;
  height: 45px;
  padding-left: 10px;
  width: 75%;
}

textarea {
  padding: 10px;
  width: 75%;
  height: 80%;
}

.textarea--outline {
  border: 1px solid var(--color-body);
}

.hidden {
  opacity: 0;
  overflow: hidden;
  position: absolute;
}

/* Typography */
.title {
  color: var(--color-accent);
  font-size: 3rem;
  font-weight: bold;
}

label {
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

i {
  padding-right: 10px;
}

/* Edit */
div[editext="edit-container"] {
  padding: 15px;
  border-radius: 5px;
  color: rgb(243, 0, 0);
  text-decoration-color: #6293c3;
}

#edit {
  float: left;
}
#continueB {
  float: right;
}

/* Preview */
#pdf {
  float: center;
  padding-left: 20%;
}

#pageButtons {
  float: center;
  padding-left: 37%;
}
