 h1{
  color: black;
  
}
nav{
  margin-bottom: none;
}
.upload {
  margin-top: 10px;
  width: 40%;
}


.submit {
  opacity: 0;
  overflow: hidden;
  position: absolute;
}

.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: orange;
  display: inline-block;
  width: 30%;
  max-width: 70%;
  /* corner-radius: 20px; */
}

.submit + label {
  font-size: 1.25em;
  font-weight: 400;
  color: white;
  background-color: orange;
  display: inline-block;
}

.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}

.uploadbackground {
  height: 100vh;
  max-width: 100%;
  background: url("https://cpb-us-e2.wpmucdn.com/sites.utdallas.edu/dist/e/1154/files/2020/09/campus-mall-students-walking.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index:-2;
  overflow-x: hidden;overflow-y:hidden;
  position:absolute;
    bottom:0;
    left:0;
}

.loginbackground {
  height: 100vh;
  max-width: 100%;
  background: url("https://wallpaperaccess.com/full/1846921.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index:-2;
  overflow-x: hidden;overflow-y:hidden;
  position:absolute;
    bottom:0;
    left:0;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.row-upload-area{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.row-login-area{
  width:50%;
  margin-left:25%;
  height:50%;
}

.about-top{
  background-color: darkorange;
  color:white;
  margin-top:2em;
  border-radius:2em;
  width:80%;
  margin-left:10%;
}

.card-footer{
  background-color:darkorange;
  color:white;
}

#onebox {
  width: auto;
  height: auto;
  display: inline-block;
}

.members{
  text-align:center;
}
textarea {
  position: relative;
  display: block;
  margin: 0 auto;
  padding-left: 30px;
  border-color: white;
  border-width: 1px;
  background-color: white;
  color: black;
  width: 75%;
  padding-left: 10px;
  padding-top: 10px;
  height: 125px;
}

input[type="text"] {
  position: relative;
  display: block;
  margin: 0 auto;
  border-color: white;
  border-width: 1px;
  background-color: white;
  color: black;
  width: 75%;
  height: 15%;
  padding: 20px 50px 20px 10px;
  margin-bottom: 10px;
}


